<h1>WELCOME TO POKEMON FORM ONION-SITE</h1>
<div class="row">
    <div class="col mb-2">
        <input type="text" class="form-control" [(ngModel)]="pokemonBuscado" autofocus>
        <button type="submit">Buscar</button>
    </div>

    <button (click) = limpiarFormulario()>So Clean </button>
    <!-- <div class="col">
        <ul class="list-group">
            <li *ngFor="let h of habilidades" class="list-group-item {{pokemon==pokemonSeleccionado?'active':''}}"
                [(ngModel)]="habilidad">
                <input type="checkbox" class="checkbox">{{h}}
            </li>
        </ul>
    </div> -->
</div>
<!--Cierre primer row-->
<div class="row">
    <div class="col">
        <div class="alert alert-light" role="alert">
            Poner ngIF y crear la variable mensaje con un numero de estado para cambiar los colores del alert 
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul class="list-group">
            <li *ngFor="let pokemon of listaPokemon | filtroPokemon : pokemonBuscado"
                class="list-group-item {{pokemon==pokemonSeleccionado?'active':''}}"
                (click)="seleccionarPokemon(pokemon);comprobarPokemon(pokemon)">
                <b>{{pokemon.id}}</b>
                <div class=" listado">{{pokemon.nombre}}
                    <button (click) = "delete(pokemon.id)">DEL</button>
                </div>
            </li>
        </ul>
    </div>
    <div class="col">
        <div class="card" *ngIf="hayPokemon" style="width: 18rem;">
            <div class="card-body">
                {{ formulario.value | json }}
                {{ formulario.status | json }}
                <form [formGroup]="formulario" (ngSubmit) = "enviar(formulario.value)">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Nombre</label>
                      <input type="text" class="form-control" formControlName = "nombre" >
                      <small id="emailHelp" class="form-text text-muted">Introduce un nombre con mas de 1 caracter y menos de 50.</small>
                    </div><!-- END OF NAME FORM GROUP -->

                    <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Estas Seguro?</label>
                    </div> <!-- END OF CHECKBOX FORMGROUP -->
                    <input type="submit" [disabled]="formulario.invalid" class="btn btn-primary" value="Crear">
                </form> <!-- END OF FORM -->
            </div> <!-- END OF CARD BODY -->
        </div><!-- END OF CARD -->
    </div> <!-- END OF FORM COL -->
</div> <!-- END OF CONTENT ROW -->
<!--Cierre primer row-->